/* index.css */
@import "tailwindcss";

@layer base {
  :root {
    --psg-blue: #004170;
    --psg-red: #DA291C;
    --psg-gold: #ceab5d;
    
    --color-bg-main: #F4F4F4; 
    --color-bg-card: #FFFFFF;  
  }

  body {
    @apply bg-[#F4F4F4] text-[#1A1A1A] antialiased;
    font-feature-settings: "kern" 1, "liga" 1;
  }
}


.premium-card {
  @apply bg-white p-8 md:p-12 border border-black/5 shadow-[0_10px_40px_rgba(0,0,0,0.04)];
}

.psg-separator {
  @apply flex items-center gap-2;
}
.psg-separator::before { content:''; @apply w-12 h-1 bg-[#004170]; }
.psg-separator::after { content:''; @apply w-12 h-1 bg-[#DA291C]; }


.leaflet-container {
  filter: grayscale(0.6) contrast(1) brightness(1.05);
}

.custom-popup .leaflet-popup-content-wrapper {
  @apply bg-white p-0 rounded-none shadow-xl border border-black/5;
}

.leaflet-container {
  border-radius: inherit !important;
  overflow: hidden !important;
}

model-viewer::part(default-progress-bar) {
  background: linear-gradient(to right, #DA291C, #004170);
  height: 6px; 
  border-radius: 4px; 
}

model-viewer::part(default-progress-mask) {
  display: none;
}
